RewriteEngine On

RewriteRule ^(authpy.*)$ dev/main.py/$1 [L,QSA]
RewriteRule ^auth.*$ root/auth.php [L,QSA]

RewriteCond %{SERVER_NAME} scripts.mit.edu
RewriteRule ^ http://quickprint.mit.edu [R]

<Files "main.py">
<IfModule mod_ssl.c>
	SSLVerifyDepth 1
	SSLVerifyClient optional
</IfModule>
</Files>
<Files "auth.php">
<IfModule mod_ssl.c>
	SSLVerifyDepth 1
	SSLVerifyClient require
</IfModule>
</Files>

<Files "cleanup">
    Options +ExecCGI
    SetHandler cgi-script
</Files>
